<IfModule mod_rewrite.c>
  RewriteEngine On

# Check if browser supports WebP images

RewriteCond %{HTTP_ACCEPT} image/avif

# Check if WebP replacement image exists

RewriteCond %{REQUEST_FILENAME}.avif -f

# Serve WebP image instead

RewriteRule ^ %{REQUEST_FILENAME}.avif [L]

</IfModule>

# Vary: Accept for all the requests to jpeg, png and gif

<IfModule mod_headers.c>
  Header append Vary Accept env=REQUEST_image
</IfModule>

<IfModule mod_mime.c>
  AddType image/avif .avif
</IfModule>
