/* .cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11,
.cls-12 {
  fill: none;
} */

/* .cls-13 {
  fill: #292727;
} */

.cls-13,
.cls-4 {
  mix-blend-mode: multiply;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11,
.cls-12 {
  stroke: #333132;
  stroke-miterlimit: 10;
}

.cls-2,
.cls-3,
.cls-10,
.cls-11 {
  stroke-width: 0.25px;
}

.cls-2,
.cls-7 {
  opacity: 0.5;
}

.cls-3,
.cls-4,
.cls-8 {
  opacity: 0.8;
}

.cls-4,
.cls-5 {
  stroke-width: 2px;
}

.cls-14 {
  isolation: isolate;
}

/* .cls-15 {
  fill: #ffffff;
} */

.cls-6 {
  stroke-width: 4px;
}

.cls-6,
.cls-10 {
  opacity: 0.75;
}

.cls-9 {
  stroke-width: 2px;
}
