@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* custom color variable designations */
#root {
  --yamaBudo: #b90571;
  --tsukiYo: #50587e;
  --amaIro: #177bb5;
  --konPeki: #0257c3;
  --shinRyoku: #0d523a;
  --syoRo: #138287;
  --murasaki: #38308e;
  --chouKuro: #1d1c1e;
}

.main-content {
  margin-top: 150px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  transition: background-color 2s, color 0.75s;
  width: 100%;
}

h1 {
  font-family: "GothamBook";
  font-size: calc(1.5rem + 2vw);
}

h2 {
  font-family: "Montserrat";
  font-weight: 400;
  margin-right: 5px;
  font-size: calc(1rem + 0.5vw);
}
h3 {
  font-family: "GothamBook";
  font-weight: bold;
  margin-right: 5px;
  font-size: calc(0.7rem + 0.5vw);
}

p {
  font-family: "Montserrat";
}

.midSentenceBold {
  font-weight: 500;
}

.center,
.between,
.around,
.start,
.end {
  align-items: center;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.between {
  justify-content: space-between;
  width: 100%;
}
.around {
  justify-content: space-around;
  width: 100%;
}

.alignStart {
  align-items: start;
}

.alignEnd {
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}

.start {
  justify-content: start;
}
.end {
  justify-content: end;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/* standardized non-flex position class declarations */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* standardized text class declarations */
.textStart {
  text-align: start;
}
.textEnd {
  text-align: end;
}
.textCenter {
  text-align: center;
}

.m25L {
  margin-left: 25px;
}
.m25R {
  margin-right: 25px;
}

.max50 {
  max-width: 33vw;
}
.stroke25 {
  -webkit-text-stroke: 0.25px var(--black);
}

.p25 {
  padding: 25px 25px;
}

.homeHeaderPic {
  max-width: 45vw;
  max-height: 45vh;
}

.appBar {
  backdrop-filter: blur(12px);
}

.reviewBody {
  padding: 1em 100px;
  text-indent: 3em;
}
.reviewTitle {
  padding: 1em 100px;
}

.reviewBodyImageHead {
  padding: 1em 20px 1em 100px;
  max-width: auto;
  max-height: 400px;
}
.reviewBodyImageLeft {
  padding: 50px 20px 1em 100px;
  max-width: auto;
  max-height: 400px;
}
.reviewBodyImageRight {
  padding: 50px 100px 1em 20px;
  max-width: auto;
  max-height: 400px;
}

.reviewBodyImageCaptionLeft {
  padding: 10px 20px 1em 100px;
}
.reviewBodyImageCaptionRight {
  padding: 0px 100px 1em 20px;
}

.reviewMorePictures {
  max-width: auto;
  max-height: 400px;
}

.reviewBottom {
  margin-bottom: 50px;
}

.inkSlider {
  margin: 25px;
}

.sliderLabel {
  padding-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
