@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  transition: background-color 2s, color 0.75s;
}

.flex,
.center,
.between,
.around,
.start,
.end,
.row,
.column {
  align-items: center;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}

.start {
  justify-content: start;
}
.end {
  justify-content: end;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/* standardized non-flex position class declarations */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* standardized text class declarations */
.textStart {
  text-align: start;
}
.textEnd {
  text-align: end;
}
.textCenter {
  text-align: center;
}

.stroke25 {
  -webkit-text-stroke: 0.25px var(--black);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
