@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* custom color variable designations */
#root {
  --yamaBudo: #b90571;
  --tsukiYo: #50587e;
  --amaIro: #177bb5;
  --konPeki: #0257c3;
  --shinRyoku: #0d523a;
  --syoRo: #138287;
  --murasaki: #38308e;
  --chouKuro: #1d1c1e;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  transition: background-color 2s, color 0.75s;
  width: 100%;
}

.poemsBody {
  margin-top: 200px;
}

.inksBody {
  margin-top: 25px;
}

h1 {
  font-family: "GothamBook";
  font-size: calc(1.5rem + 2vw);
}

h2 {
  font-family: "Montserrat";
  font-weight: 400;
  margin-right: 5px;
  font-size: calc(1rem + 0.5vw);
}
h3 {
  font-family: "GothamBook";
  font-weight: bold;
  margin-right: 5px;
  font-size: calc(0.7rem + 0.5vw);
}

p {
  font-family: "Montserrat";
}

.midSentenceBold {
  font-weight: 500;
}

.center,
.between,
.around,
.start,
.end {
  align-items: center;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.between {
  justify-content: space-between;
  width: 100%;
}
.around {
  justify-content: space-around;
  width: 100%;
}

.alignStart {
  align-items: start;
}

.alignEnd {
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}

.start {
  justify-content: start;
}
.end {
  justify-content: end;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

/* standardized non-flex position class declarations */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* standardized text class declarations */
.textStart {
  text-align: start;
}
.textEnd {
  text-align: end;
}
.textCenter {
  text-align: center;
}

.m25L {
  margin-left: 25px;
}
.m25R {
  margin-right: 25px;
}
.mTop250 {
  margin-top: 250px;
}
.mBot25 {
  margin-bottom: 25px;
}

.max50 {
  max-width: 33vw;
}
.stroke25 {
  -webkit-text-stroke: 0.25px var(--black);
}

.p25 {
  padding: 25px 25px;
}

.homeHeaderPic {
  max-width: 100vw;
  top: 0;
  left: 0;
  object-fit: cover;
}

#homeHeaderButton {
  background-color: #38308ebc;
  border-radius: 12px;
  color: #f6f7eb;
  margin-right: 10px;
  width: 100px;
  height: 50px;
  flex-wrap: wrap;
  box-shadow: 0px 0px -10px -10px #0256c399;
  transition: all 0.5s ease-out;
}
#homeHeaderButton:hover {
  background-color: var(--konPeki);
  box-shadow: 0px 0px 10px 3px #0256c399;
}

.appBar {
  backdrop-filter: blur(12px);
}

#cursorID {
  z-index: 25;
}

.reviewBody {
  padding: 1em 100px;
  text-indent: 3em;
}
.reviewBodyContent {
  flex-direction: column;
}
.reviewBodyContent2 {
  flex-direction: row;
}
.reviewTitle {
  padding: 1em 100px;
  align-items: start;
}

.reviewBodyImageHead {
  padding: 1em 20px 1em 100px;
  max-width: auto;
  max-height: 400px;
}
.reviewBodyImageLeft {
  padding: 50px 20px 1em 100px;
  max-width: auto;
  max-height: 400px;
}
.reviewBodyImageRight {
  padding: 50px 100px 1em 20px;
  max-width: auto;
  max-height: 400px;
}

.reviewBodyImageCaptionLeft {
  padding: 10px 20px 1em 100px;
}
.reviewBodyImageCaptionRight {
  padding: 0px 100px 1em 20px;
}

.reviewMorePictures {
  max-width: 30vw;
  max-height: auto;
}
.reviewMorePicturesSwatch {
  max-width: 10vw;
  max-height: auto;
}

.reviewInConclusion {
  max-width: 70vw;
  align-self: center;
}

.reviewBottom {
  margin-bottom: 50px;
}

.inkSlider {
  margin: 25px;
}

.sliderLabel {
  padding-top: 50px;
}

.swalTitle {
  font-family: GothamBook;
}

.swalContainer {
  font-family: Montserrat;
  font-style: italic;
}

.swalhtmlContainer {
  background-color: #38308e;
}

.swalButton {
  background-color: #38308e;
  transition: background-color 0.25s ease-in-out;
}
.swalButton:hover {
  background-color: #177bb5;
  transition: background-color 0.25s ease-in-out;
}

.card {
  padding: 2em;
}

/* .animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
  --animate-delay: 1s;
}

.flickerBox {
  --animate-repeat: 4;
} */

/* #homeHeaderGithub {
  color: #1d1c1e;
} */

.cursor {
  color: #ff5050;
  display: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  left: 0;
  position: fixed;
  will-change: transform;
  z-index: 1000;
}

.zIndex {
  z-index: 20;
}

.inksBody {
  margin-top: 160px;
}

.cursor-border {
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid #ff5050;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 60px;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  transition: all 360ms cubic-bezier(0.23, 1, 0.32, 1);
}

.cursor.cursor--initialized {
  display: block;
}

.cursor .text {
  font-size: 0.875rem;
  opacity: 0;
  transition: opacity 80ms cubic-bezier(0.23, 1, 0.32, 1);
}

.cursor.cursor--off-screen {
  opacity: 0;
}

.cursor.cursor--focused .cursor-border,
.cursor.cursor--focused-view .cursor-border {
  width: 90px;
  height: 90px;
}

.cursor.cursor--focused-view .text {
  opacity: 1;
  transition: opacity 360ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media only screen and (min-width: 1000px) {
  .logoDesktop {
    display: flex;
  }
  .logoWordDesktop {
    display: flex;
  }
  .logoMobile {
    display: none;
  }
  #homeHeaderBox {
    display: block;
    place-items: end;
    place-content: end;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    /* margin-top: 100px; */
  }
  #appBarMenu {
    display: none;
  }
}
@media only screen and (max-width: 1500px) {
  .reviewBodyContent2 {
    flex-direction: column;
    text-align: center;
  }
  .reviewTextMobile,
  .reviewBodyImageCaptionLeft,
  .reviewBodyImageCaptionRight,
  .reviewBodyImageLeft,
  .reviewBodyImageRight {
    align-items: center;
    padding: 20px 0px 30px 0px;
  }

  .reviewBottomImages {
    margin-bottom: 35px;
    align-items: center;
  }

  .reviewInConclusion {
    max-width: 100vw;
  }
  .inksBody {
    margin-top: 160px;
  }
}
@media only screen and (max-width: 1100px) {
  .poemModal {
    flex-direction: column-reverse;
  }
  .poemModal img {
  }
}
@media only screen and (max-width: 1000px) {
  .logoDesktop {
    display: none;
  }
  .logoWordDesktop {
    display: none;
  }
  .logoMobile {
    display: flex;
    scale: 1.3;
  }
  #homeHeaderBox {
    display: block;
    place-items: center;
    place-content: center;
    min-width: 100vw;
    min-height: 100vh;
    /* margin-top: 100px; */
  }
  /* .inksBody {
    margin-top: 150px;
  } */
}

@media only screen and (max-width: 600px) {
  .logoDesktop {
    display: flex;
  }
  .logoWordDesktop {
    display: none;
  }
  .logoMobile {
    display: none;
    scale: 1.3;
  }
  .homeHeaderButtons {
    flex-direction: column;
  }
  #homeHeaderButton {
    margin-bottom: 10px;
  }
  #homeHeaderBox {
    display: block;
    place-items: center;
    place-content: end;
    min-width: 100vw;
    min-height: 100vh;
  }
}
